<!DOCTYPE html>
<html lang="en">
  <%- include("head.ejs") %>
  <body>
    <main class="list_container">
      <table>
        <caption>
          <h2>The List of all <%= result.length %> Users</h2>
          <hr />
        </caption>
        <tr>
          <th>ID</th>
          <th>UserName</th>
          <th>Email</th>
        </tr>
        <% for(user of result){ %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td>
            <a
              href="http://localhost:8080/user/<%= user.id %>/edit"
              style="color: rgb(50, 147, 245)"
              >EDIT</a
            >
            &nbsp;
            &nbsp;
            <a
              href="http://localhost:8080/user/<%= user.id %>/delete"
              style="color: rgb(255, 3, 3)"
              >DELETE</a
            >
          </td>
        </tr>
        <% } %>
      </table>
    </main>
  </body>
</html>
