<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kya BAAT HAI MUNNA</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quera Posts</h1>
    <%for(post of posts){%>
        <div class="post">
            <h3>@<%= post.username %></h3>
            <p><%= post.content %></p>
            <a href="/posts/<%=post.id %>">See in details</a>&nbsp;&nbsp;&nbsp;
            <a href="/posts/<%=post.id %>/edit">Edit</a> &nbsp;
            <form style="display: inline-block;" action="/posts/<%=post.id%>?_method=DELETE" method="post">
                <button type="submit">Delete Post</button>
            </form>
        </div>
    <%}%>
    <br>

     <h2><a href="http://localhost:4000/posts/new">Create new Post</a></h2>
</body>
</html>



